*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

header{
  width: 100%;
}
div.formulario{
  text-align: left;
  /*background-color:rgba(163, 163, 163, 0.82);*/
  padding: 10px;
}
form input{
  padding: 7px;
  width: 100%;
}
form select{
  width: 100%;
  padding: 7px;
}
form button{
  padding: 10px;
  width: 100px;
}
form input.mensaje{
  height: 5vh;
  width: 100%;
}
div.container h1{
  border-bottom:2px solid black;
}
