*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

header{
  width: 100%;
}
div.formulario{
  text-align: left;
  /*background-color:rgba(163, 163, 163, 0.82);*/
  padding: 10px;
}
div.container{
  text-align: center;
  margin-top:20px;

}
div.container-fluid{
  ;
  padding-left: 0;

}

form input{
  padding: 7px;
  width: 100%;
  border:none;
  border-bottom: 1px solid grey;

  outline:0;
}
form input:hover{
  border-bottom: 1.5px solid rgb(65, 164, 155);
}
form input:focus-within {
  border-bottom: 1.5px solid rgb(65, 164, 155);
}

form select{

}
form label {
  color:#9e9e9e;
}
form select{
  width: 100%;
  padding: 7px;
}
form button{
  padding: 10px;
  width: 100px;
}
form input.mensaje{
  height: 5vh;
  width: 100%;
}
div.container h1{
  border-bottom:2px solid black;
  color:black;
}
