*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

}
footer{
background-color:#007bff;
margin-top:20px;
}

footer div.img-logo{
  width: 100%;

  text-align: center;

}
footer div.menu-footer{
  width: 100%;
  margin-bottom: 30px;
}
footer div.menu-footer ul{
margin:10px;
}
footer div.menu-footer ul li{
  border-bottom:1px solid white;
  padding: 5px;
  margin:10px;
  margin-bottom:10px;

  list-style: none;
  text-decoration:none;
  text-align:center;

}
footer div.menu-footer ul li:hover{


}
footer div.menu-footer ul li a:hover{
text-decoration: none;
}
footer div.menu-footer ul li a{
  color:white;
  text-decoration: none;

}
footer div.menu-footer ul li i{
  color:white;
}
footer div.copyright{
  background-color:black;
  text-align: center;
}
footer div.copyright{
  color:white;
}
footer div.img-logo a img{
  width: 250px;
}

@media(min-width:1024px){
  footer div.img-logo{
    width: 50%;
    display:inline-block;
    text-align: center;

  }
  footer div.menu-footer{
    width: 50%;
    float:right;
    margin-top:26px;


  }
  footer div.menu-footer ul li a{
  width: 100%;
  }
}
