*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
div.modificar-Datos button span{
  font-size: 15px;
}
header{
  position: fixed;
  z-index: 10;
}

#container{
  padding-top: 10vh;
  width: 100%;

}

h1{
  text-align: center;

}
ul li{
  text-decoration: none;
  margin-left: 0;
}
ul li:hover{
  text-decoration: none;
  list-style: none;
  border-left:9px solid #007bff;
}
ul li a:hover{
  text-decoration: none;
}
.row{
  margin-top: 5vh;
}

div#main{
  margin-top: 5vh;
}

#nav{
  margin-top: 6vh;
  margin-left: 10px;
}
#nav li {
  margin-bottom: 5vh;
  list-style: none;
}

#nav a{
  color:black;
}


#footer{
  text-align: right;
  margin-top: 10vh;
  padding-right: 10px;
}

@media (max-width:768px) {
  #main{
    margin-left: 15px;
  }
  #main h3{
    text-align: center;
  }

  #footer{
    text-align: center;
  }

}
