*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  position: fixed;
  z-index: 10;
}

#container{
  padding-top: 10vh;
  width: 100%;

}

h1{
  text-align: center;

}

.row{
  margin-top: 5vh;
}

#nav{
  margin-left: 10px;
}
#nav li {
  margin-bottom: 2vh;
  list-style: none;
}

#nav a{
  color:black;
}


#footer{
  text-align: right;
  margin-top: 10vh;
  padding-right: 10px;
}

@media (max-width:768px) {
  #main{
    margin-left: 15px;
  }
  #main h3{
    text-align: center;
  }

  #footer{
    text-align: center;
  }

}
